.shows {
    background: $color-1;
    padding: 100px 0;
    .shows-header {
        padding-bottom: 50px;
        h2 {
            font-size: 3rem;
            font-weight: bolder;
        }
    }

    .items {
        span.date {
            font-size: 1rem;
            span {
                font-size: 2.5rem;
                font-weight: bolder;
            }
        }
        img {
            width: 84px;
            height: 84px;
        }
    }

}